<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/main.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0,"> 
  </head>
  <body>
    {{{body}}}
  </body>

  <script src='/javascripts/main.js'></script>
</html>
