<h2>Remote</h2>

<div class="flex-container remote-flex">
  <button type="button" name="button" id="brake" class="flex-item">Brake</button>
  <button type="button" name="button" id="horn" class="flex-item">Horn</button>
  <button type="button" name="button" id="gas" class="flex-item">Gas</button>
</div>


<script>
  window.remotetype = "remote";
</script>
